// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
.navbar-light {
background: #0a2b4e;
}
body{
    font-family: "Times New Roman", Times, serif;
}
.nav-bar-comita{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width:initial;
  height:auto; /*height:inherit;*/
  overflow: hidden;
}
.navbar-header{
	width: 100%;
	height: 600px;
	background: #0a2b4e;
	/*background: -webkit-linear-gradient(to right, hsla(205, 100%, 12%, 0.459), hsla(185, 67%, 42%, 0.664)), url(../img/welcome/potosi.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, hsla(205, 100%, 12%, 0.459), hsla(185, 67%, 42%, 0.664)), url(../img/welcome/potosi.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: -webkit-linear-gradient(to right, hsla(205, 100%, 12%, 0.459), hsla(213, 100%, 20%, 0.664)), url(../img/welcome/potosi.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(205, 100%, 12%, 0.459), hsla(213, 100%, 20%, 0.664)), url(../img/welcome/potosi.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	background-position: center center;
}

.logo, .logo img{
	height:50px;
	padding-left: 10px;
	padding-bottom: 5px;
}
nav .enlaces a{
  /*display: inline-block;*/
  padding: 5px 0;
  margin-right: 10px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #ffd700;/*color: inherit;*/
}

nav .enlaces a:hover{
  border-bottom: 3px solid #ffd700;
  transition: 0.6s;
}

.navbar-header .caratula{
	padding: 30px 0 5px 0 !important;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.contenedor {
	padding: 70px 0; /*Espacio en el contenedor de 60px y cero a los lados*/
	width: 90%;
	max-width: 1000px;
	margin: auto; /*margen auto a dispositivos moviles*/
	overflow: hidden; /*Si algo sale del contenedor que se oculte*/
}
.caratula-cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.caratula-ind{
	width: 48%;
	text-align: center;
	padding-bottom: 20px;
}
.caratula-ind img{
	width: 90%;
}
.ola{
	position: absolute;
	bottom: 0;
	width: 100%;
}